<nav id="nav" class="grey darken-4">
  <div class="custom-container">
    <%= link_to 'A&M CHESS', home_path, class: "brand-logo logo" %>
    <ul class="right hide-on-med-and-down">
      <li><%= link_to 'Login', login_path %></li>
    </ul>
  </div>
</nav>
