<div class="row">
  <div class="container">
  </br>
    <div class="card">
      <div class="card-content">
        <span class="card-title"><em>About Chess Camps</em></span>
        <br>
        <!-- source: https://www.pexels.com/photo/black-and-white-chess-chess-piece-figurine-411195/-->
        <%= image_tag ("chess2.jpg"), class: "responsive-img" %>
        </br>
        <p>A&M Chess Camps offers <em>the</em> best chess camps in the Pittsburgh area. Alex and Mark Heimann are official chess masters and they are looking for a
          way to share their chess skills. To that end, they have decided that in the summer of 2018 they will establish a series
          of summer chess camps for children of various ages and skill levels.</p>
        <p></br><em>"Chess, like love, like music, has the power to make us happy."</em>
        </br>Dr. Siegbert Tarrasch (GM)
        </p>
      </div>
    </div>
  </div>
</div>
