<div class="row">
  <br>
  <div class="container">
    <div class="card">
      <div class="card-content">
        <span class="card-title"><em>Contact Information</em></span>
        <p>Unfortunately, this chess camp registration site is not a real registration website, but rather a
            sample project for programming students at Carnegie Mellon University. We
            are sure that you wanted great chess camps from the most exquisite
            chess players on the planet, but that's how it goes sometimes.  If you are
            bitterly disappointed <em>(and quite honestly, you should be)</em> and want to
            grouse to someone, here's the contact information below.
        </p>
        <p>&nbsp;</p>
      </div>
    </div>

    <div class="card">
      <div class="card-content">
        <span class="card-title">Contact</span>
        <table cellpadding="3">
          <tr>
            <td>Webmaster:&nbsp;&nbsp;&nbsp;</td>
            <td>Shannon Lu</td>
          </tr>
          <tr>
            <td>Email:</td>
            <td>
            slu2@andrew.cmu.edu
            </td>
          </tr>
          <tr>
            <td>Phone:</td>
            <td>412-268-8211</td>
          </tr>
        </table>

      </div>
    </div>
  </div>
</div>
