<div class="row">
</br>
  <h4 class="center-align">Welcome to A&M Chess Camps</h4>
  </br>
    <div class="container center-align">
      <!-- source: https://www.pexels.com/photo/close-up-of-chess-pieces-333889/  -->
      <%= image_tag ("chess.jpg"), class: "responsive-img" %>
      <div class="card">
        <div class="card-content">
          <!-- <p>A&M Chess Camps are select programs dedicated to providing you and
            your children with the finest chess instruction in the Pittsburgh
            area. The links below will tell you more about
            our services and in the near future we will be
            expanding this site so that customers like
            yourself can directly access records for your pets.
          </p></br> -->
          <p>The A&amp;M Chess Camp (named after the founders, Alex and Mark Heimann) is one of the <b>premiere chess camps</b> for youth this side of the Mississippi. Our instructors have years of experience playing and love to share their <b>wisdom</b> and <b>enthusiasm</b> for the game with students of all levels.</p><br>
          <p>Prospective students and parents should feel free to browse through our catalogue of <%= link_to "upcoming camps", camps_path %>. Unfortunately, we have not yet finished our online registration portal. So, should a camp pique your interest, please contact us <%= link_to "here", contact_path %> and we will begin assiting you with your registration as soon as possible. Thank you!</p>
          </br>
          <p><em>"Chess is the gymnasium of the mind."	</em>
          </br>Blaise Pascal (Mathematician, philosopher and chess enthusiast)</p>
        </div>
      </div>
    </div>
</div>
