<div class="row">
  <div class="col s5">
    <%= render :partial => "location_details" %>
  </div>
  <div class="col s7">
    <%= render :partial => "partials/camps_list", locals: {camps: @upcoming_camps_at_location, state: "Upcoming"} %>
  </div>
</div>
<div class="row">
  <% if logged_in? && current_user.role?(:admin)%>
    <div class="col s12">
      <%= render :partial => "partials/object_options", locals: {model_name: "location", object: @location} %>
    </div>
  <% else %>
    <%= link_to 'Back', curriculums_path, :class=>"btn waves-effect waves-light blue" %>
  <% end %>
</div>
<%# link_to 'Edit', edit_location_path(@location) %>
<%# link_to 'Back', locations_path %>
